		</div><!--/row-fluid-->
    </div><!--/span9-->
  </div><!--/row-fluid-->  
</div><!--/container-fluid-->

<div class="container-fluid">
	<div class="row-fluid">
		<div class="span3">
			<p>Left aligned info</p>
		</div>
		<div class="span6">
			<p>Middle aligned info</p>
		</div>
		<div class="span3">
			<p>Right aligned info</p>
		</div>
	    </div><!--/row-fluid-->
	  </div><!--/span12-->  
	</div><!--/container-fluid-->
