<div class="navbar " style="position: absolute; margin-top: -80px; margin-left: 200px; margin-right: 0px">
  <div class="navbar-inner">
    <div class="container-fluid">
        <div class="row">
          <div class="nav-collapse">
              <ul class="nav navbar-nav">
                <li><%= link_to "Roles", roles_path, :class => 'btn-small' %></li>
                <li><%= link_to "Skills", skills_path, :class => 'btn-small' %></li>
                <li><%= link_to "Occupations", occupations_path, :class => 'btn-small' %></li>
            </ul>
        </div><!--/nav-collapse-->
        </div><!--/row-->
    </div><!--/container-fluid-->
  </div><!--/navbar-inner-->
</div><!--/navbar-inverse and fixed-top-->

