<div class="well sidebar-nav">
  <ul class="nav nav-list">
    <li class="nav-header">Navigate</li>
    <!-- <h4>Navigate</h4> -->
      <!-- <li class="active"><a href="#">Export Link</a></li> -->
    <li><%= link_to t('.back', :default => t("helpers.links.back_to_search")), individuals_path %></li>
  </ul>
</div><!--/.well sidebar-nav -->
<div class="well sidebar-nav">
  <ul class="nav nav-list">
    <li class="nav-header">View or Edit</li>
    <li><a href="#">Basic Information </a></li>
    <li><a href="#donations">Donations</a></li> 
    <li><a href="#roles">Roles</a></li> <!--Thank yous, invites to events, do they get eNewsletters or Newsletters? -->
    <li><a href="#notes">Notes</a></li>
  </ul>
</div><!--/.well sidebar-nav -->
<div class="well sidebar-nav">
   <ul class="nav nav-list">
      <li class="nav-header">Actions</li>
        <li><a href="#">Email</a></li>
        <li><a href="#">Write Letter</a></li>
        <li><%= link_to "Export as CSV", individuals_path(:format => "csv") %></li>
        <li><%= link_to "Export as Excel", individuals_path(:format => "xls") %></li>
    </ul>
</div><!--/.well sidebar-nav -->