<div class="container-fluid">
  <div class="row-fluid">
    <div class="span3">
      <%= render 'sidebar' %>
    </div><!--/span3-->
    <div class="span9">
      <div class="row-fluid">
        <%- model_class = Donation -%>
        <div class="page-header">
        <h2>New Donation</h2>
        <%= render 'form' %>
        <%= render 'shared/footer' %>

