<div class="container-fluid">
  <div class="row-fluid">
    <div class="span3">
      <div class="well sidebar-nav">
        <ul class="nav nav-list">
            <!-- <li class="nav-header">Navigate</li> -->
              <!-- <li class="active"><a href="#">Export Link</a></li> -->
              <li><%= link_to t('.back', :default => t("helpers.links.back_to_search")),
              individuals_path, :class => 'btn-small'  %></li>
        </ul>
      </div><!--/.well sidebar-nav -->
      <div class="well sidebar-nav">
        <ul class="nav nav-list">
    
            <li class="nav-header">Jump to...</li>
              <!-- <li class="active"><a href="#">Export Link</a></li> -->
              <li><a href="#">Contact Information</a></li>
              <li><a href="#">Activity Record</a></li> <!--Type of person, event_attendance_records, donation_records-->
              <li><a href="#">Communications</a></li> <!--Thank yous, invites to events, do they get eNewsletters or Newsletters? -->
              <li><a href="#">Notes</a></li>
        </ul>
      </div><!--/.well sidebar-nav -->
      <div class="well sidebar-nav">
        <ul class="nav nav-list">
          
            <li class="nav-header">Actions</li>
              <!-- <li class="active"><a href="#">Export Link</a></li> -->
              <li><a href="#">Email</a></li>
              <li><a href="#">Write Letter</a></li>
        </ul>
      </div><!--/.well sidebar-nav -->
    </div><!--/span3--> 
    <div class="span9">
      <div class="row-fluid">
		<%- model_class = Organization -%>
		<div class="page-header">
		  <h1><%=t '.title', :default => [:'helpers.titles.new', 'New %{model}'], :model => model_class.model_name.human.titleize %></h1>
		</div>
		<%= render :partial => 'form' %>
		</div><!--/row-fluid-->
    </div><!--/span9-->
  </div><!--/row-fluid-->  
</div><!--/container-fluid-->

