<!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span3">
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
              <li class="nav-header">Sign In</li>
              <li class="active"><a href="#">Username</a></li>
              <li><a href="#">Password</a></li>
            </ul>
          </div><!--/.well -->
        </div><!--/span-->
        <div class="span9">
          <div class="hero-unit">
            <h2>Welcome to Haley House's Database!</h2>
            <p>This is still a work in progress, but please explore using the links above!  Eventually user sign in will be available to the left. The very little bit of data here is test data.  We are working with our actual data locally in our development environment, to be exported shortly!</p>
            <!-- <p><a href="#" class="btn btn-primary btn-large">Sign in &raquo;</a></p> -->
          </div>
        </div><!--/span-->
      </div><!--/row-->

      <hr>

      <footer>
        <p>&copy; Haley House, 2013</p>
      </footer>

    </div><!--/.fluid-container-->