<div class="row-fluid">
              <div class="span12">
                <p>Please choose from the three database categories below, or use the links above to navigate.</p>
              </div><!--/span-->
            </div>
            <div class="row-fluid">
              <div class="span4">
                <button type="button" class="btn-sm-blue"><h3>Individuals</h3>
                <p>Volunteers, Donors, Customers, Staff, etc.</p>
                <p><a class="btn" href="individuals.html">Choose &raquo;</a></p></button>
              </div><!--/span-->
              <div class="span4">
                <button type="button" class="btn-sm-purple"><h3>Grants</h3>
                <p>Find foundations, add grant records, etc.</p>
                <p><a class="btn" href="grantmakers.html">Choose &raquo;</a></p></button>
              </div><!--/span-->
              <div class="span4">
                <button type="button" class="btn-sm-orange"><h3>Organizations</h3>
                <p>Partners, Customers, Similar Organizations, etc.</p>
                <p><a class="btn" href="organizations.html">Choose &raquo;</a></p></button>
              </div><!--/span-->
            </div><!--/row-->

<!-- <p class="helptext">Please choose which database you would like to work in by clicking the links below.</p>

<table cellspacing=20px>
  <tr>
  	<th><%#= link_to("Individuals<span style='font-size:14px;font-weight:normal'><br><br>(Volunteers, Donors, Staff, Friends, etc.)</span>".html_safe, individuals_path, :class => "button_orange") %></th> 

  	<th><%#= link_to("Organizations<span style='font-size:14px;font-weight:normal'><br><br>(Partners, Customers, Similar Organizations, etc.)</span>".html_safe, organizations_path, :class => "button_blue") %></th> 

  	<th><%#= link_to("Grants<span style='font-size:14px;font-weight:normal'><br><br>(Find foundations, add grant records, etc.)</span>".html_safe, grantmakers_path, :class => "button_purple") %></th>
  </tr>
</table> --> 


<p><%#= link_to "Grant Records", grant_records_path %></p>
<p><%#= link_to "Deadlines", deadlines_path %></p>
<p><%#= link_to "Events", events_path %></p>
<p><%#= link_to "Attendance", event_attendance_records_path %></p>
<p><%#= link_to "Skills", skills_path %></p>
<p><%#= link_to "Roles", roles_path %></p>
<p><%#= link_to "Occupations", occupations_path %></p>
<p><%#= link_to "Notes", notes_path %></p>


