<!DOCTYPE html>
<html lang="en">
  <head>

    <title>Haley House Database</title>

    <%= stylesheet_link_tag    "application", :media => "all" %>

    <%#= javascript_include_tag "application" %>

    <%= csrf_meta_tags %>
    
  </head>
  <body>

    <!-- <img src="haley_house/app/assets/haleyhousemug.jpg"> -->

    <%= link_to("Haley House Database", root_path, :class => "button_index") %>

    <p></p>

    <%= yield %>

  </body>
</html>
